.right-chat {
  display: inline-block;
  max-width: calc(100% - 8px);
  position: relative;
  left: 10px;
  background: rgba(56, 133, 179, 0.3);
  color: #483b3b;
  padding: 7px 14px;
  border-radius: 13px;
  line-height: 14px;
}
.right-chat > span,
.left-chat > span {
  display: inline-block;
}
.left-chat > span {
  margin-left: 10px;
}
.left-chat {
  display: inline-block;
  max-width: calc(100% - 34px);
  padding: 7px 14px;
  border-radius: 13px;
  line-height: 14px;
  background: #7fc3ff;
}
.chat-input {
  width: calc(100% - 40px);
  padding: 8px;
  display: inline-block;
}
.chat-input > input {
  width: 100%;
  border: 1px solid #cfcfcf;
  border-radius: 30px;
  outline: none;
  padding: 5px 10px;
}
.send {
  display: inline-block;
  cursor: pointer;
  position: relative;
  top: 8px;
  right: -4px;
}
.chat-item {
  margin-top: 1px;
}
