ul {
  list-style-type: none;
}
ul > li {
  display: inline-block;
}
ul > li > a {
  display: block;
  padding: 0 0.7em 0 0.7em;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}
